{% extends 'education/base.html' %}

{% block title %}Algorithm Detail{% endblock %}

{% block content %}
    <h2 style="margin-bottom: 5px;">{{ card.name }}</h2>
    <p style="color: #666; margin-top: 0;">Group: {{ card.alg_set.name }}</p>

    <div class="card-detail">
        <h3>Scramble / Description:</h3>

        {% if card.image %}
            <img src="{{ card.image.url }}" alt="Cube Case for {{ card.topic }}" style="max-width: 150px;
            display: block; margin-bottom: 10px; border-radius: 8px;">
        {% endif %}

        <p style="font-size: 1.2em;">{{ card.question }}</p>

        <hr>

        <h3>Algorithm:</h3>
        <p style="font-size: 1.2em; color: green; font-family: monospace; white-space: pre-wrap">{{ card.answer }}</p>
    </div>

    <br>
    <a href="{% url 'edit_card' card.pk %}" style="display: inline-block; padding: 5px 10px; background:
     #ddd; text-decoration: none; color: black; border: 1px solid #999;">Edit Algorithm</a>

    <br><br>
    <a href="{% url 'set_detail' card.alg_set.pk %}">&larr; Back to {{ card.alg_set.name }}} group</a>
{% endblock %}
